<%- include('./includes/head.ejs') %>
</head>

<body>
    <%- include('./includes/navigation.ejs') %>

    <%- post.content %>

    <i><%= post.date.toLocaleDateString("en-US", {year: 'numeric', month: 'long', day: 'numeric' }) %></i>
    <br />
    <br />
    <a href="http://eepurl.com/h2ICR1">Receive my next post by mail?</a>

    <%- include('./includes/end.ejs') %>